body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f0f0f0; */
  background: rgb(6,2,98);
  background: linear-gradient(90deg, rgba(6,2,98,1) 0%, rgba(82,236,133,1) 100%, rgba(211,120,120,0.9922093837535014) 100%);
}

h1, h2, h3 {
  text-align: center;
  margin: 20px 0;
}

.container {
  padding: 20px;
}
